@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:400,400i,700");
#quote-box {
    margin: 0 auto;
    height: 100vh;
    max-width: 800px;
    text-align:center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 3rem;
}
.quote-container {
    border: 1px solid #fefefe;
}
#text {
    font-size:2rem;
}
#tweet-quote {
    color: #00ACEE;
    text-decoration: none;
}
.button-container {
    margin:1rem;
}
button {
    margin-right: 5px;
}
.black{
    color: #000000;
}
.white{
    color: #fefefe;
}